$border-color: #bdc8d5;
$background-color: #ffffff;
$font-color: #6a7f9d;
$scrollbar-thumb-color: #6f747b;
$scrollbar-track-color: #dfdfdf;
$reset-color: #6a7f9d;
$reset-hover: #b90e0e;
$focused-color: #faf7f7;
$selected-color: #eeeeee;
$multi-selection-bgcolor: #00B2EE;
$multi-selection-border-color: #21a4cf;
$multi-remove-color: #fff3f3;
$multi-remove-border: #d9d6d6;
$toggle-all-color: #92a2b9;
