@import 'colors';

.react-selectrix {
	position: relative;

	*, ::after, ::before {
		box-sizing: border-box;
	}

	.hidden {
		display: none;
	}

	.clearfix {
		&:after,
		&:before {
			content: "";
			display: table;
		}

		&:after {
			clear: both;
		}
	}

	.rs-toggle-wrapper, .rs-search-prompt {
		padding: 11px 20px;
		font-size: 11px;
		color: $toggle-all-color;
	}

	.rs-tag-wrapper {
		padding: 11px 20px;
		font-size: 12px;
		cursor: pointer;
		color: $font-color;
		box-shadow: 0 0px 4px rgba( 0, 0, 0, 0.1 );
		&:hover, &:focus, &:active {
			background-color: $focused-color;
		}
		&.focused {
			background-color: $focused-color;
		}
	}

	input.searchable {
		&.rs-active {
			min-width: 30px;
		}
	}

	button.rs-toggle-button {
		background-color: $background-color;
		border: none;
		font-size: 11px;
		cursor: pointer;
		outline: none;
		color: $toggle-all-color;
		padding: 0;
		&:hover {
			text-decoration: underline;
		}
	}

	.vertical-align {
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: 0;
		}

		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.rs-header {
		border: 1px solid $border-color;
		color: #6a7f9d;
		border-radius: 2px;
		background-color: $background-color;
		position: relative;
		font-size: 14px;
		margin: 0;
		user-select: none;

		::-webkit-input-placeholder {
			color: $font-color;
		}

		::-moz-placeholder {
			color: $font-color;
		}

		:-ms-input-placeholder {
			color: $font-color;
		}

		:-moz-placeholder {
			color: $font-color;
		}
	}

	&.rs-base-arrow {
		.rs-reset-wrapper {
			right: 25px;
		}
	}

	&.rs-base-customscrollbar {
		::-webkit-scrollbar {
			width: 12px;
			height: 12px;
		}

		::-webkit-scrollbar-thumb {
			background: $scrollbar-thumb-color;
		}

		::-webkit-scrollbar-track {
			background: $scrollbar-track-color;
		}
	}

	&.rs-base-disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	&.rs-base-searchable, &.rs-base-tags {
		.rs-header {
			padding: 0;
		}
		.rs-toggle {
			cursor: text;
		}
	}

	&.rs-base-singleline {
		.rs-toggle {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
		}
	}

	&.rs-base-multiple {
		&:not(.rs-base-empty):not(.rs-base-commaseperated) {
			.rs-toggle {
				padding: 5px 50px 5px 5px;
			}
		}

		&.rs-base-commaseperated {
			&:not(.rs-base-empty) {
				.rs-toggle {
					padding: 7px 50px 7px 15px;
					line-height: 1.8;
				}
			}

			&.rs-base-searchable {
				.rs-toggle {
					display: flex;
				}
				.rs-commaseperated-wrapper {
					display: block;
					padding-right: 10px;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.rs-selection {
			display: inline-block;
			background-color: $multi-selection-bgcolor;
			padding: 3px 10px 3px 25px;
			color: $background-color;
			margin: 2px;
			font-size: 12px;
			border-radius: 2px;
			border: 1px solid $multi-selection-border-color;
			position: relative;
			cursor: pointer;
			max-width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&:not(.rs-base-empty) {
			.rs-selection, .rs-searchable {
				vertical-align: middle;
			}
		}

		.rs-remove {
			font-size: 15px;
			color: $multi-remove-color;
			position: absolute;
			left: 0;
			width: 20px;
			text-align: center;
			border-right: 1px solid $multi-remove-border;
			top: 0;
			height: 100%;
			transition: 0.2s background-color ease-in-out;
			font-family: "Arial" !important;

			&:hover {
				background-color: #23c8ff;
			}
		}

		.rs-searchable {
			border: none;
			box-shadow: none;
			outline: none;
			-webkit-appearance: none;
			max-width: 100%;
			color: $font-color;
			padding: 0;
			font-size: 14px;
		}
	}

	.rs-reset {
		font-size: 20px;
		color: $reset-color;
		position: relative;
		top: 1px;
		font-family: "Arial" !important;

		&:hover {
			color: $reset-hover;
		}
	}

	.rs-arrow-wrapper {
		position: absolute;
		width: 10px;
		height: 100%;
		top: 0;
		right: 10px;
	}

	.rs-reset-wrapper {
		position: absolute;
		width: 10px;
		height: 100%;
		top: 0;
		right: 10px;
		cursor: pointer;

		&:before {
			margin-right: -0.15em;
		}
	}

	.rs-arrow-indicator {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: $font-color transparent transparent;
		transition: 0.1s transform ease-in-out;

		&.up {
			transform: rotate(180deg);
		}
	}

	.rs-body {
		background-color: $background-color;
		border-radius: 2px;
		box-shadow: 0 3px 7px 0 rgba(139, 155, 175, 0.5);
		display: flex;
		flex-direction: column;
		left: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: 1;

		> ul {
			flex: 0 1 auto;
			list-style-type: none;
			padding: 0;
			margin: 0;
			overflow: auto;
		}
	}

	.rs-option {
		flex: 0 0 auto;
		cursor: pointer;
		padding: 11px 20px;
		color: $font-color;
		font-size: 14px;
		user-select: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: normal;

		&.disabled {
			opacity: 0.6;
			pointer-events: none;
		}

		&:not(.disabled) {
			&.focused {
				background-color: $focused-color;
			}

			&.selected {
				background-color: $selected-color;
			}
		}
		&.rs-searchable-box {
			padding: 5px 20px 8px 20px;
			.rs-searchable {
				border: solid 1px $border-color;
				width: 100%;
			}
		}
	  	.rs-reset-option {
		  border: none;
		  outline: none;
		  width: 100%;
		  cursor: pointer;
		  color: #6a7f9d;
		  position: relative;
		  right: 20px;
		  top: 3px;
		  .rs-reset {
			cursor: pointer;
			top: unset;
		  }
		}
	}

	.rs-no-results {
		padding: 11px 20px;
		color: $font-color;
		font-size: 12px;
	}

	.rs-toggle {
		border: none;
		outline: none;
		padding: 10px 50px 10px 15px;
		width: 100%;
		cursor: pointer;
		color: $font-color;
		font-size: 14px;
		line-height: normal;

		&.rs-focused {
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 152, 209, 0.6);
		}

		&.rs-searchable {
			&:focus {
				cursor: text;
			}
		}
	}

	&.rs-base-checkboxes {

		.rs-option {

			&:not(.disabled) {

				&.selected {
					background-color: inherit;
				}

				&.focused {
					background-color: $focused-color;
				}
			}

			input[type="checkbox"] {
				position: absolute;
				opacity: 0;
				margin: 0;

				&:not(:checked) {
					+ label {
						&:before {
							width: 0;
							height: 0;
							border: 3px solid transparent;
							left: 6px;
							top: 10px;
							-webkit-transform: rotateZ(37deg);
							transform: rotateZ(37deg);
							-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
						}

						&:after {
							height: 13px;
							width: 13px;
							background-color: transparent;
							border: 1px solid #D5D9DF;
							border-radius: 2px;
							top: 0;
							z-index: 0;
						}
					}
				}

				+ label {

					position: relative;
					padding-left: 25px;
					cursor: pointer;
					display: inline-block;
					user-select: none;
					font-size: 14px;
					line-height: 14px;
					font-weight: 400;
					margin-bottom: 0;

					&:after,
					&:before {
						content: '';
						left: 0;
						position: absolute;
						-webkit-transition: border 0.25s, background-color 0.25s, width 0.20s 0.1s, height 0.20s 0.1s, top 0.20s 0.1s, left 0.20s 0.1s;
						transition: border 0.25s, background-color 0.25s, width 0.20s 0.1s, height 0.20s 0.1s, top 0.20s 0.1s, left 0.20s 0.1s;
						z-index: 1;
					}

					&:after {
						height: 13px;
						width: 13px;
						background-color: transparent;
						border: 2px solid #5a5a5a;
						top: 0;
						z-index: 0;
					}
				}

				&:checked {
					+ label {
						&:before {
							top: 1px;
						    left: 0px;
						    width: 6px;
						    height: 10px;
							border-top: 2px solid transparent;
							border-left: 2px solid transparent;
							border-right: 2px solid #fff;
							border-bottom: 2px solid #fff;
							-webkit-transform: rotateZ(37deg);
							transform: rotateZ(37deg);
							-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
						}

						&:after {
							top: 0;
							height: 13px;
							width: 13px;
							border: 1px solid #1DA4CF;
							background-color: #1DA4CF;
							z-index: 0;
							border-radius: 2px;
						}
					}
				}

				&:disabled {
					+label {
						opacity: 0.4;
						cursor: not-allowed;
					}
				}
			}
		}
	}

	&.rs-base-open {

		&.rs-base-materialize {

			.rs-header {
				&:after {
					content: "";
					height: 2px;
					background-color: $material-blue;
					display: block;
					width: 100%;
					left: 0;
					visibility: visible;
				}
			}

			.rs-arrow-indicator {
				border-color: $material-blue transparent transparent;
			}

			.rs-body {
				opacity: 1;
			    -webkit-transform: scale(1) translateY(0);
			    -ms-transform: scale(1) translateY(0);
			    transform: scale(1) translateY(0);
				visibility: visible;
				height: auto;
			}

		}
	}

	.rs-arrow-indicator {
		transition: 0.2s transform ease-in-out;
	}

	&.rs-base-materialize {

		&.rs-base-multiple:not(.rs-base-empty) {
			.rs-toggle {
				padding-left: 0;
			}
		}

		.rs-header {
			border: none;
			border-bottom: 1px solid #eee;
			border-radius: 0;
			&:after {
				content: "";
				height: 1px;
				background-color: transparent;
				position: absolute;
				bottom: -1px;
				display: block;
				width: 15px;
				left: 45%;
				transition-duration: .2s;
				transition-timing-function: cubic-bezier( .4, 0, .2, 1 );
				visibility: hidden;
			}
		}

		.rs-body {
			display: block;
			opacity: 0;
			box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, .15 ), 0 3px 1px -2px rgba( 0, 0, 0, .2 ), 0 1px 5px 0 rgba( 0, 0, 0, .12 );
		    transform-origin: 50% 0;
		    transform: scale( 0.80 ) translateY( -15px );
		    transition: all 0.2s cubic-bezier( 0.5, 0, 0, 1.25 ), opacity 0.15s ease-in-out;
			visibility: hidden;
			height: 0;
		}

		.rs-toggle {
			padding-left: 0;

			&.rs-focused {
				box-shadow: none;
			}
		}
	}

	@import 'loader';

}
